<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>add users</title>
</head>
<body>
    <form  method="post" action="">
    <h2>id</h2>
    <input type="text" name="id" placeholder="id">
    <h2>Username</h2>
    <input type="text" name="username" placeholder="Enter Your Username">
    <h2>Email</h2>
    <input type="text" name="email" placeholder="Enter You Email Id">
    <h2>Password</h2>
    <input type="text" name="password" placeholder="Enter Your Password">
    <br>
    <br>
    <button>Submit</button>
</form>
 
</body>
</html>